{% extends "base.html" %} {% block title %} Home {% endblock %} {% block header
%}  {% endblock %} {% block content %} {% for post in posts %}
  <div class="col-md-5 col-sm-12 card text-center">
    <div class="card-header">
  
      
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <a>{{post.title}}</a>
      </h5>
    </div>
    <div class="card-footer text-muted">
      <a id="read" href="{{url_for('single_post', id=post.id)}}">Read More</a>
      {% for comment in post.comments[-1:] %}
      <p style="text-align: left">
        <a href="/post/{{comment.user.firstname}}"
          >{{comment.user.firstname}} {{comment.user.lastname}}</a
        >: {{comment.text}} {{comment.date_created.strftime('%I:%M%p %B %d,
        %Y')}} {% if user.id == comment.author or user.id == post.author %}
        <a href="/delete-comment/{{comment.id}}"
          ><i class="fas fa-trash"></i
        ></a>
        {% endif %}
      </p>

      {% endfor %}
      <div class="like">
        {% if current_user.is_authenticated %}
        <p>
          {{ post.likes|length }} {% if user.id in
          post.likes|map(attribute="author")|list %}
          <a href="/like/{{post.id}}" id="like1"><i class="fas fa-heart"></i></a>
          {% else %}
          <a href="/like/{{post.id}}" id='like2'><i class="far fa-heart"></i></a>
          {% endif %}
        </p>
          {% if post.comments|length > 1 %}
          <p>{{post.comments|length}} <i class="fa-solid fa-comment"></i></p>
          {% elif post.comments|length == 1 %}
          <p>{{post.comments|length}} <i class="fa-solid fa-comment"></i></p>
          {% else %}
          <p>0 <i class="fa-regular fa-comment"></i></p>
          {% endif %}
      {% else %}
      <a href="{{url_for('login')}}">Login to react/comment</a>
      {% endif %}
        <h6>
          Post by:
          <a href="/post/{{post.user.firstname}}">
            {{ post.user.firstname }} {{ post.user.lastname }}
          </a>
          on {{ post.date_created.strftime('%B %d, %Y') }}
        </h6>
      </div>
      
    </div>
  </div>
<br />
{% endfor %} {% endblock %}
