{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block header %}
Home
{% endblock %}

{% block content %}
{% for post in posts %}
<div class="card text-center">
  <div class="card-header">
    <a href="/post/{{post.user.firstname}}">
    {{ post.user.firstname }} {{ post.user.lastname }}
    </a>
    <div class="like">
      <i class="fas fa-heart"></i>
      <i class="far fa-heart"></i>
      {% if user.id == post.author %}
      <a href="/delete/{{post.id}}"><i class="fas fa-trash"></i></a>
      <a href="/edit/{{post.id}}">edit</a>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">{{post.text|safe}}</p>
    <a href="#" class="btn btn-primary">Write a comment</a>
  </div>
  <div class="card-footer text-muted">
    {{ post.date_created.strftime('%B %d, %Y') }}
  </div>
</div>
<br>
{% endfor %}
{% endblock %}