{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block header %}
Home
{% endblock %}

{% block content %}
{% for post in posts %}
  <div class="card text-center">
    <div class="card-header">
      <h6>Post by:
      <a href="/post/{{post.user.firstname}}">
        {{ post.user.firstname }} {{ post.user.lastname }}
        </a> on {{ post.date_created.strftime('%B %d, %Y') }} </h6>
      <div class="like">
        {% if current_user.is_authenticated %}
          <p>{{ post.likes|length }}
          {% if user.id in post.likes|map(attribute="author")|list %}
            <a href="/like/{{post.id}}"><i class="fas fa-heart"></i></a>
          {% else %}
            <a href="/like/{{post.id}}"><i class="far fa-heart"></i></a>
          {% endif %}
          </p>

          <!-- {% if user.id == post.author %}
            <a href="/delete/{{post.id}}"><i class="fas fa-trash"></i></a>
            <a href="/edit/{{post.id}}">edit</a>
          {% endif %} -->
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <a>{{post.title}}</a> 
      </h5>
      <a href="{{url_for('single_post', id=post.id)}}">Read More</a>
      
    </div>
    <div class="card-footer text-muted">
      {% if current_user.is_authenticated %}
        {% if post.comments|length > 1 %}
          <p>{{post.comments|length}} Comments</p>
          {% elif post.comments|length == 1 %}
          <p>{{post.comments|length}} Comment</p>
          {% else %}
          <p>View full blog</p>
        {% endif %}
        {% for comment in post.comments %}
          <p style="text-align: left;"> <a href="/post/{{comment.user.firstname}}">{{comment.user.firstname}} {{comment.user.lastname}}</a>: {{comment.text}} {{comment.date_created.strftime('%I:%M%p %B %d, %Y')}}
            {% if user.id == comment.author or user.id == post.author %}
            <a href="/delete-comment/{{comment.id}}"><i class="fas fa-trash"></i></a>
          {% endif %}</p>
          
        {% endfor %}
      <!-- <form action="/comment/{{post.id}}" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Write comment"  name="comment" id="comment">
          <button class="btn btn-outline-danger" type="submit" id="button-addon2">Comment</button>
        </div>
      </form> -->

      {% else %}
      <a href="{{url_for('login')}}">Login to react to this post</a>
      {% endif %}
    </div>
  </div>
  <br>
{% endfor %}
{% endblock %}