{% extends "base.html" %}
{% block title %}
Login
{% endblock %}

{% block content %}
<form method="post">
    <div class="row">
        <div class="col-12">
        <h1>Login</h1>
        <p>Login page</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" class="form-control" id="email" name="mail" placeholder="Enter email">
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}