{% extends "base.html" %}
{% block title %}
Register
{% endblock %}

{% block content %}
<form method="post">
    <div class="row">
        <div class="col-12">
        <h1>Register</h1>
        <p>Register page</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter first name">
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        <div class="form-group">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter last name">
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" id="password" name="confirm_password" placeholder="Confirm password">
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>
{% endblock %}